*{
    margin:0;
    padding:0;
}

header{
    background-color: black;
    color: white;
}

.username{
    float: right;
    display: flex;
    margin: 10px 10px;
}
.userid{
    margin: 10px 10px;
}
#profilepic{
    width: 3rem;
}
